.container {
  border: 1px dotted red;
}

.day-of-month {
  align-self: center;
  width: 2.5rem;
  font-size: 150%;
  text-align: right;
  padding-right: 0.5rem;
}

.banana {
  background: mediumslateblue;
  height: 50vh;
}
