<app-month-selector [initialMonth]="month" (monthChange)="monthChange($event)"></app-month-selector>

<br/>

<!--<app-work-unit-editor [date]="date" [workUnit]="workUnit" (workUnitChange)="workUnitChange($event)"></app-work-unit-editor>-->

<div *ngFor="let workDay of workDaysInMonth" class="history-row">
  <span class="day-of-month">{{workDay.date.dayOfMonth()}}:</span>
  <app-work-unit-editor [workUnit]="workDay.workUnit"
                        (workUnitChange)="workUnitChange(workDay, $event)"></app-work-unit-editor>
</div>
