.has-error {
  color: red;

  input {
    outline-color: red;
    border: 2px solid red;
    color: red;
  }
}

.work-unit-form {
  display: flex;
  flex-flow: row nowrap;
}

.work-unit-form-field {
  flex: 0 1 auto;
}
